@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");
@import url("./reset.css");
@import url("./typography.css");
@import url("./nav.css");
@import url("./website.css");
@import url("./team.css");
@import url("./search.css");
@import url("./testimonial.css");
@import url("./footer.css");
body {
  background-color: #fff;
}
:root{
  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.5); 
}
a:hover{
cursor: pointer;
}

